@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Meeting Minutes
            </div>
            <div class="card-body">
                <from id="addMeetingMinutes">
                    <div class="row">
                        <div class="form-group">
                            <input type="radio" id="corporate" name="corporate" value="1">
                            <label for="html">Corporate</label> &nbsp;
                            <input type="radio" id="individual" name="individual" value="2">
                            <label for="css">Indivisual</label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="name" class="col-sm-3">Name<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <select id="name" class="form-control form-control-sm">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row">
                                <label class="col-sm-3">Name<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" id="addName" name="addName" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row mt-2">
                                <label for="date" class="col-sm-3">Date<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" id="date" name="date" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row mt-2">
                                <label for="meetingDiscusion" class="col-sm-3">Meeting Discusion<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <textarea id="meetingDiscusion" name="meetingDiscusion" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row mt-2">
                                <label for="cientAttn" class="col-sm-3">Attends From Client Side<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <textarea id="cientAttn" name="cientAttn" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row mt-2">
                                <label for="meetingDecision" class="col-sm-3">Meeting Decision<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <textarea id="meetingDecision" name="meetingDecision" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row mt-2">
                                <label for="hostAttn" class="col-sm-3">Attends From Host Side<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <textarea id="hostAttn" name="hostAttn" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </from>
            </div>
            <hr />
            <div class="card-body">
                <from id="addMeetingMinutes">
                   
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="product" class="col-sm-3">Interested Product/Service<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <select id="product" class="form-control form-control-sm">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-3">Quantity<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" id="quantity" name="quantity" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </from>
            </div>
        </div>
    </div>
</div>
